<!DOCTYPE html>
<html>
<head><title>PHP Test</title></head>
<body>
    <h1>PHP is working!</h1>
    <p>PHP Version: <?php echo phpversion(); ?></p>
    <p>Server: <?php echo php_uname('n'); ?></p>
    <p><a href="info.php">View PHP Info</a></p>
</body>
</html>
